body, html {
  font-family: "Roboto", sans-serif;
  background: #212121;
  height: 100%;
}
$fontcolor:  #ffffff;
$backgroundcolor: #212121;

h2{
  margin-top: 40px;
}

body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
  margin: 50px;
}


#search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  input {
    font-size: 1em;
    border: none;
    margin-left: 20px;
    width: 60%;
  }

  img{
    height: 50px;
  }
}

#video-detail {
  width: 100%;
}

#video-section {
  display: flex;

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    padding: 10px;

    .video-description{
      width: 200px;
    }
  }
  li:hover {
    background: darken( $backgroundcolor, 10% );
  }

}